<!DOCTYPE html>
<head>
  <link href="https://coders.forsanders.com/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1 class="center">{{ heading }}</h1>
    <div class="row">
      <div class="col-md-4">
        <h3 class="center">My Information:</h3>
        <hr>

        <ul>
          <li> Current zip code: {{ zipCode }} </li>
          <li v-if="pollLocation">
            Your polling location is: {{ pollLocationName }} ({{ pollLocationLine1 }}, {{ pollLocationLine2 }})
          </li>

          <div class="embed-responsive embed-responsive-16by9" v-if="pollLocation">
            <iframe class="embed-responsive-item"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{ pollLocationLine1 }}, {{ pollLocationLine2 }}&key=AIzaSyCis7iQudcfgandatO5ayKWRIBatpUtExo" allowfullscreen></iframe>
          </div>
        </ul>

        <p v-if="noPollLocation()">
          <input class="form-control" id="findPoll" v-model="findPollData" v-on:keyup.enter="findPoll" placeholder='Enter your address here'>
          <button class="btn btn-primary btn-md" v-on:click="findPoll">Find my polling location</button>
        </p>

      </div>

      <div class="col-md-4">
        <h3 class="center">Local Events:</h3>
        <hr>

        <ul>
          <li v-for="event in events">
            {{ event.title }}
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3 class="center">National News:</h3>
        <hr>

        <ul>
          <li v-for="item in news">
            {{ item.title }} -- {{ item.description }}
          </li>
        </ul>
      </div>

    </div>
  </div>

  <script src="app.js"></script>
  <script> vue.getZipCode(); </script>
  <script> vue.findEvents(); </script>
<body>
